html
  head
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/client.js')
  body
    div#dashboard
