
body {
    margin: 1em;
    font-family: serif;
    font-size: 1em;
}

#dashboard {
    width: 50em;
    margin-left: 4em;
}

#dashboard .message, #dashboard > div {
    padding: .8em;
    margin: .6em 0em;
    font-style: italic;
    color: #444;
}

#dashboard .message-notice {
    background: orangered;
    color: white;
}
